<div class="signupbox">
    <div fxLayout="column" fxLayoutAlign="center center">
     <h1> Sign up here</h1>
       <form class="signupdiv">
        <div class="field">
            <label for="" class="label is-large">Full Name</label>
           <div class="control">
            <input class="form-control input is-primary is-large" type="text"  required 
            [(ngModel)]="profileStudentInfo.fullname" 
            name="name" 
            #fullname="ngModel">
           </div>
            </div>

            <div class="field">
                <label for="" class="label is-large">Phone number</label>
               <div class="control">
                <input class="form-control input is-primary is-large" type="text"  required 
                [(ngModel)]="profileStudentInfo.phonenumber" 
                name="phonenumber" 
                #phonenumber="ngModel">
               </div>
            </div>

            <div class="field">
                <label for="" class="label is-large">Address</label>
               <div class="control">
                <input class="form-control input is-primary is-large" type="text"  required 
                [(ngModel)]="profileStudentInfo.fullname" 
                name="fullname" 
                #address="ngModel">
               </div>

               <div class="field">
                <label for="" class="label is-large">Email</label>
               <div class="control">
                <input class="form-control input is-primary is-large" type="text"  required 
                [(ngModel)]="profileStudentInfo.email" 
                name="email" 
                #email="ngModel">
               </div>
                </div>
            </div>
            <button> Edit profile</button>
            <button> save Profile</button>


       </form>


    </div>


</div>
