<!--  PROGRESS BAR -->
<!--<fuse-progress-bar></fuse-progress-bar>-->
<!-- / PROGRESS BAR -->

<!-- VERTICAL LAYOUT 1 -->

    <!--<vertical-layout-1></vertical-layout-1>-->

<!--new code-->
<router-outlet *ngIf="true"></router-outlet>


<!-- new code ends-->

