<div class="signupbox">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1> Log in here</h1>
        <form class="signupdiv">
            <div class="field">
                <label for="" class="label is-large">Email</label>
                <div>
                    <input class="form-control input is-primary is-large" type="text"  required 
                    [(ngModel)]="loginStudent.Email" 
                    name="email" 
                    #email="ngModel"> 
                </div>
                <div [hidden]="email.valid || email.pristine">
                    This is required
                </div>
            </div>

            <div class="field">
              <label for="" class="label is-large">Fill Password</label>
              <div class="control">
                  <input type="text" class="form-control input is-primary is-large" type="password"
                  required
                  [(ngModel)]="loginStudent.password"
                  name="password"
                  #password= "ngModel"
                  
                  >
              </div>
              <div [hidden]="password.valid || password.pristine">
                  password is required
              </div>

            </div>

            <div class="tentopmargin field is-grouped">
                <div class="control">
                  <button (click)="submitLoginForm()" class="button is-large is-link">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-large is-link is-light">Cancel</button>
                </div>
              </div>


        </form>
    </div>
</div>
